html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sticky {
  position: sticky!important;
  top: 0!important;
}

/* Animations */

/* .title {
  top: 80px;
  transition: .3s;
  transition-timing-function: ease-in-out;
}
.in-viewport .title {
  top: 0px;
}

.platform {
  opacity: 0;
  transition: .3s;
  transition-delay: .5s;
}
.in-viewport .platform {
  opacity: 1;
}

.link svg {
  left: -100%;
  opacity: 0;
  transition-delay: 1s;
}
.in-viewport .link svg {
  left: 0%;
  opacity: 1;
}

.link p {
  left: -30%;
  opacity: 0;
  transition: .3s;
  transition-delay: 1s;
}
.in-viewport .link p {
  left: 0%;
  opacity: 1;
}

.screens {
  right: -30%;
  opacity: 0;
  transition: .3s;
  transition-delay: 1.5s;
}
.in-viewport .screens {
  right: 0%;
  opacity: 1;
} */