html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sticky {
  position: -webkit-sticky!important;
  position: sticky!important;
  top: 0!important;
}

/* ------------------ Animations */

/* Intro */

.down  {
  opacity: 0;
  top: -40px!important;
  transition: .3s!important;
  transition-timing-function: ease-in-out!important;
}
.in-viewport .down {
  top: 0px!important;
  opacity: 1;
}

/* Sections */

.title {
  top: 80px!important;
  transition: .3s!important;
  transition-timing-function: ease-in-out!important;
}
.in-viewport .title {
  top: 0px!important;
}

.platform {
  opacity: 0!important;
  transition: .3s!important;
  transition-delay: .5s!important;
}
.in-viewport .platform {
  opacity: 1!important;
}

.link svg {
  left: -100%;
  opacity: 0;
  transition-delay: 1s;
}
.in-viewport .link svg {
  left: 0%;
  opacity: 1;
}

.link p {
  left: -30%;
  opacity: 0;
  transition: .3s;
  transition-delay: 1s;
}
.in-viewport .link p {
  left: 0%;
  opacity: 1;
}

.link:hover svg,
.link:hover p {
  transition-delay: 0s;
}

.screens {
  bottom: -30%!important;
  opacity: 0!important;
  transition: 1s!important;
  transition-delay: 1.2s!important;
}
.in-viewport .screens {
  bottom: 0%!important;
  opacity: 1!important;
}

/* ------------------ End Animations */